In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#Passing a dict of lists. Each key represents one coolumn, and the values(lists) are each column's values
df = DataFrame (
    {'product_id':[23, 96, 97, 15, 87],
     'name':['computer','Python Workout','Pandas Workout','banana','sandwich'],
     'wholesale_price':[500, 35, 35, 0.5, 3.0],
     'retail_price':[1000, 75, 75, 1, 5],
     'sales':[100, 1000, 500, 200, 300]
     },
      index = list('01234'))
#df['wholesale_price']=df['wholesale_price'].astype(int)# we are trying to convert the column data type to an integer
df['net_sales']=df['retail_price']-df['wholesale_price']
df['current_net']=df['net_sales']*df['sales']

df['after_15']=df['current_net']*(1-0.15)
df['after_20']=df['current_net']*(1-0.20)
df['after_25']=df['current_net']*(1-0.25)

#df.loc['Total']=(df[['current_net','net_sales','sales','retail_price','wholesale_price','after_15','after_20','after_25']].sum())
#df.loc['Total']=df.loc['Total'].fillna(0)# here we are replacing all the empty cells with '0'
df[['current_net', 'after_15', 'after_20','after_25']].sum()
#df['current_net'].sum()-df[['current_net', 'after_15', 'after_20','after_25']].sum()

current_net    110700.0
after_15        94095.0
after_20        88560.0
after_25        83025.0
dtype: float64