In [13]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame
df=pd.read_csv('/content/drive/MyDrive/Irwin data analysis portfolio/data/data/olympic_athlete_events.csv',
               usecols=['Age','Height','Team','Year','Season','Sport', 'Medal'])

df=df.loc[df['Year']>=1980]
df=df.loc[df['Team'].isin(['Great Britain','France','United-States','Switzerland','China','India'])]

df.pivot_table(index='Year', columns='Team', values='Age').round()# compare the average age of players for each team, for all sports and all years

df.pivot_table(index='Sport', columns='Year', values='Height', aggfunc='max')# we want to find the tallest players in each sport from each year

df.dropna(subset='Medal').pivot_table(index='Year', columns='Team', values='Medal',aggfunc='size')# we want to determine how many medals each country received at each game PS::we could've simply left the dropna method and used the count() function and still gotten the same result

df.pivot_table(index=['Year','Season'], columns='Team',values='Medal',aggfunc='count')# how many medals each team won per year with the index including the year and the season

df.pivot_table(index='Year',columns='Team',values=['Age','Height'])# average age and average height per year per team

df.pivot_table(index=['Year','Season'], columns='Team', values=['Age','Height'])# the average age and average height per year , per team, broken up by year and season

                   Age                                                  \
Team             China     France Great Britain      India Switzerland
Year Season
1980 Summer        NaN  23.695000     22.764526  25.506667   25.325581
     Winter  21.868421  22.750000     23.571429        NaN   23.475410
1984 Summer  22.095975  24.302260     24.456693  24.905660   23.653061
     Winter  21.985714  24.789474     24.350000        NaN   23.358209
1988 Summer  22.456265  24.504854     25.781585  24.072727   27.602649
     Winter  19.600000  24.576577     23.417722  22.666667   24.385965
1992 Summer  21.960317  25.554622     25.859719  24.426230   26.333333
     Winter  21.932432  23.951807     23.820513  20.500000   24.068376
1994 Winter  20.627907  24.601307     25.282051        NaN   25.500000
1996 Summer  22.021531  25.296629     26.746032  24.629630   27.122093
1998 Winter  21.784091  25.462069     27.243902  16.000000   25.641509
2000 Summer  22.515306  25.982833     26.406948  25.400000   27.376812
2002 Winter  23.127451  25.737805     26.833333  20.000000   26.238710
2004 Summer  23.006122  26.139073     26.303977  24.728395   27.343284
2006 Winter  23.457143  26.303226     26.851852  25.200000   26.284848
2008 Summer  23.903955  26.285714     25.200969  25.402985   27.312500
2010 Winter  23.239669  25.911458     26.147059  25.666667   26.548387
2012 Summer  23.894168  26.606635     25.922619  25.637363   27.172131
2014 Winter  23.400000  25.708995     25.628571  25.000000   25.855814
2016 Summer  23.873706  27.095238     26.653191  26.100000   25.891892

                 Height
Team              China      France Great Britain       India Switzerland
Year Season
1980 Summer         NaN  175.890000    175.513761  170.753247  180.534884
     Winter  162.636364  171.418605    174.520000         NaN  171.589286
1984 Summer  172.074303  176.520115    174.437870  169.403846  173.930612
     Winter  166.285714  174.640000    174.115385         NaN  171.377049
1988 Summer  171.281324  176.186441    176.638710  168.700000  176.834437
     Winter  175.000000  176.058824    172.784810         NaN  176.301887
1992 Summer  170.948509  176.014706    176.562500  172.500000  175.578947
     Winter  171.791667  172.957576    173.253521         NaN  174.974359
1994 Winter  169.233333  173.013072    172.918919         NaN  174.108696
1996 Summer  170.401442  174.487640    177.441489  171.785714  174.108434
1998 Winter  168.913580  174.827586    173.764706  183.000000  174.283019
2000 Summer  170.956633  176.231760    176.482587  173.333333  176.492754
2002 Winter  169.010000  175.774390    173.055556  183.000000  176.193548
2004 Summer  172.746939  176.114790    176.661932  169.913580  176.305970
2006 Winter  170.307143  174.038710    176.111111  167.800000  176.012121
2008 Summer  176.022760  176.963636    176.886199  173.119403  176.053571
2010 Winter  169.561983  174.765625    176.338235  176.000000  176.618280
2012 Summer  175.451404  177.335714    177.763040  173.567568  177.098361
2014 Winter  169.809524  173.772487    173.428571  170.000000  174.046512
2016 Summer  174.985507  177.748016    176.400000  169.967213  173.858108